<% if (Array.isArray(opt.stamps)) { %>
  <ul class="stamps">
    <% opt.stamps.forEach(({ src, alt, link }) => {
      const { width, height } = _.tryImageSize(src)
      const imgHtml = `<img data-src="${src}" alt="${alt}" class="lozad fade" data-preload` +
        (width ? ` width="${width}" height="${height}">` : '>')
      %>

      <% if (link) { %>
        <li>
          <a href="<%= link %>" target="_blank" rel="noopener">
            <%- imgHtml %>
          </a>
        </li>
      <% } else { %>
        <li>
          <%- imgHtml %>
        </li>
      <% } %>
    <% }) %>

    <%- await include('@/helpers/widgets-append', {
      _, opt: {}, field: 'stampsAppend'
    }) %>
    <div id="ra-verified-seal"><script type="text/javascript" id="ra-embed-verified-seal" src="https://s3.amazonaws.com/raichu-beta/ra-verified/bundle.js" data-id="LU93Tlhma05VNTJHdEsxUjpvbnplLW9uaW5l" data-target="ra-verified-seal" data-model="1"></script></div
  </ul>
<% } %>
